<p-dialog 
  header={{title}}
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '65vw'}" 
  focusOnShow='false'
  (onHide)="resetAll()">
    <form [formGroup]="form">
        <div class="row pt-5">        
          <div [ngClass]="field.classList ? field.classList : 'col-12 col-md-6 gap-1 margin-bottom'" *ngFor="let field of fields">
              <p-floatLabel>
                <input *ngIf="isFieldType(field.type, 'text')"
                  pInputText
                  [id]="field.controlName"
                  [formControlName]="field.controlName"
                  [type]="field.type"
                  [placeholder]="field.placeholder"/>

                <p-inputNumber *ngIf="isFieldType(field.type, 'number')"
                  [id]="field.controlName"
                  [formControlName]="field.controlName"
                  [useGrouping]="false"
                  [min]="field.min || null"
                  [max]="field.max || null"
                  [maxlength]="field.maxLength || null"
                  [placeholder]="field.placeholder"
                  [style]="{ width: '100%'}"/> 

                <p-dropdown *ngIf="isFieldType(field.type, 'select')"
                  [options]="field.selectList"
                  [showClear]="true" 
                  [formControlName]="field.controlName"
                  [style]="{ width: '100%'}">
                </p-dropdown>

                <p-password *ngIf="isFieldType(field.type, 'password')"
                  [id]="field.controlName"
                  [formControlName]="field.controlName"
                  [placeholder]="field.placeholder"
                  [toggleMask]="true"
                  [feedback]="false"
                />
                <label [for]="field.controlName">
                  {{ field.label }}
                </label>
              </p-floatLabel>

              <small *ngIf="hasError(field.controlName)" class="input-invalid">
              {{ field.errorMessage }}
              </small>
          </div>
        </div>
        <div class="text-end">
            <p-button class="me-3" label="Cancelar" severity="secondary" (onClick)="visible = false" />
            <p-button 
              type="submit"
              label="Guardar"
              (onClick)="sendData()"
              />
        </div>
    </form>
</p-dialog>
