::ng-deep .p-datatable-header{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

::ng-deep p-dropdown.p-element.p-inputwrapper{
    width: inherit;
}

.table{
    overflow: auto; 
    max-height: 80vh;
}