<div class="d-flex flex-column">
  <div class="row">
    <div class="col-6">
      <h3>{{ title }}</h3>
    </div>
    <div class="col-6 align-self-center d-flex justify-content-end">
      <p-button
        label="{{ labelButtonAdd }}"
        icon="pi pi-plus"
        [style]="buttonStyle"
        size="small"
        (onClick)="create()"
        [ngClass]="{ 'disableItem': !canCreate }"
      />
    </div>
  </div>
  <div class="row table" id="table">
    <p-table
      #table
      [columns]="cols"
      [scrollable]="true"
      scrollHeight="63vh"
      [value]="data"
      [rows]="10"
      [rowsPerPageOptions]="[10, 25, 50]"
      [paginator]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      [rowHover]="true"
      dataKey="id"
      [styleClass]="'p-datatable-striped p-datatable-gridlines'"
      [style]="buttonStyle"
      [resizableColumns]="true" 
    >
      <ng-template pTemplate="caption">
        <div class="flex">
            <p-iconField iconPosition="left" class="ml-auto" styleClass="iconFieldStyle">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input 
                    pInputText 
                    type="text" 
                    (input)="filter($event)" 
                    placeholder="Buscar" />
            </p-iconField>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            <ng-container *ngIf="col.sortable; else nonSortable">
              <span pSortableColumn="{{ col.field }}">
                {{ col.header }}
                <p-sortIcon field="{{ col.field }}"></p-sortIcon>
              </span>
            </ng-container>
            <ng-template #nonSortable>
              {{ col.header }}
            </ng-template>
          </th>

          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{ getNestedProperty(rowData, col.field) }}
          </td>
          <td>
            <app-action-buttons [buttons]="buttonConfig" [data]="rowData" />
         </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
