<div class="text-center mb-3">
    <h1 class="welcome">{{ welcome }}, bienvenido al taller mecánico!</h1>
    <img src="../../../assets/Logo.png" class="image" alt="La Azul y Oro">
</div>
<p-card class="mb-2">
    <div class="text-center">
        <h1 class="title">Servicios actuales</h1>
        <p-carousel 
            [value]="serviceList"
            [numVisible]="3" 
            [numScroll]="3" 
            [circular]="true" 
            autoplayInterval="5000">
            <ng-template let-service pTemplate="item">
                <div class="border-1 surface-border border-round">
                    <div class="mb-3">
                        <h5> {{service.vehicleCompound}} </h5>
                        <p> {{ service.serviceType.name }} </p>
                        <p> {{ service.showedStatus }} </p>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
        <p-button label="Ir a Servicios" (click)="goToServices()" />
    </div>
</p-card>

